<!-- <div class="card shadow-lg " style="height: 100%;">
    <div class="d-flex justify-content-center" >
        <div class="card p-2 m-2 border-2 w-25">
            hghg
        </div>
    </div>
   
</div> -->

<div class="card shadow-lg" style="height: 100%; display: flex; align-items: center; justify-content: center;">
    <h1 class="text-primary">Seller Sign-Up</h1>
    <div class="card p-2 m-2 border-2 w-25 card shadow-lg">
        <div class="text-primary mt-2 mb-2">Sign-up</div>
        <div>
            <input type="text" placeholder="Enter Email ID" class="form-control">
        </div>
        <div class="mt-2">
            <input type="password" placeholder="Emter Password" class="form-control">
        </div>
        <div class="mt-2">
            <input type="text" class="form-control">
        </div>
        <div class="mt-2">
            <input type="text" class="form-control">
        </div>
        <div class="mt-2">
            <input type="submit" class="form-control btn btn-primary">
        </div>
    </div>
</div>